body,
html {
    margin: 0;
    padding: 0;
    background: #000;
    background-size: cover;
    /* ensures smooth scaling */

    font-family: "Roboto", sans-serif;
    color: white;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    font-family: "Indie Flower", cursive;
}

.container {
    width: 90%;
    max-width: 80vh;
    height: 95vh;
    /* full viewport height minus title */
    margin: 1vh auto;
    padding: 20px;
    background: #5a5e56;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

#feed {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* more spacing between posts */
    padding: 10px;
    scrollbar-color: #5a5e56 transparent;
    scrollbar-width: none
}

.post {
    scroll-snap-align: start;
    background: #474646;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.5rem;
    /* larger text */
    min-height: 87vh;
    /* makes each post tall, like TikTok video cards */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: margin 0.4s ease;
    margin-top: 10px;
    /* initial spacing between posts */
}

#loading {
    text-align: center;
    font-size: 1rem;
    color: #080707;
}